@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.025em;
}

.green-accent {
  color: #166534;
}

/* Стиль кнопок як в 27-rec */
.btn-primary {
  background-color: #166534;
  color: white;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #14532d;
  transform: translateY(-3px);
}